config = {
    'env_1': {
        'path_project': '/path/to/project',
        'config': {
            'sudo': {
                'password': '<password>'
            }
        },
        'connection': {
            'host': '<user>@<host>:<port>',
            'connect_kwargs': {
                'key_filename': '/path/to/.pem/file'
            }
        }
    },
     'env_2': {
        'path_project': '/path/to/project',
        'config': {
            'sudo': {
                'password': '<password>'
            }
        },
        'connection': {
            'host': '<user>@<host>:<port>',
            'connect_kwargs': {
                'key_filename': '/path/to/.pem/file'
            }
        }
    }
}
