config = {
    'env_1': {
        'path_project': '/path/to/project',
        'gunicorn_service': 'gunicorn.socket',
        'connection': {
            'host': '<user>@<host>:<port>',
            'config': {
                'sudo': {
                    'password': '<password>'
                }
            },
            'connect_kwargs': {
                'key_filename': '/path/to/.pem/file'
            }
        }
    },
     'env_2': {
        'path_project': '/path/to/project',
        'gunicorn_service': 'gunicorn.socket',
        'connection': {
            'host': '<user>@<host>:<port>',
            'config': {
                'sudo': {
                    'password': '<password>'
                }
            },
            'connect_kwargs': {
                'key_filename': '/path/to/.pem/file'
            }
        }
    }
}
